<template>
  <b-card
    class="mb-2 mb-md-0"
    :class="config.class"
    border-variant="secondary"
    no-body
    v-if="config"
  >
    <div class="p-2 p-md-3">
      <div>
        <b>Transport Details</b>
        <b-button
          variant="secondary"
          size="sm"
          class="float-right p-1 d-md-none"
          @click="
            () => {
              isCollapsed = !isCollapsed;
            }
          "
        >
          <b-icon
            :icon="isCollapsed ? 'dash' : 'arrows-fullscreen'"
            class="float-right"
          ></b-icon>
        </b-button>
      </div>
      <div class="mt-3" :class="{ 'd-md-block': true, 'd-none': !isCollapsed }">
        <b-form-group
          label="No. of packages"
          label-for="tpd-input-10"
          label-size="sm"
          label-cols="3"
          v-if="config.packageCount"
          label-class="required"
        >
          <b-form-input
            size="sm"
            id="tpd-input-10"
            v-model="form.packageCount"
            type="number"
            min="1"
            no-wheel
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Transport By"
          label-for="tpd-input-20"
          label-size="sm"
          label-cols="3"
          v-if="config.mode"
          label-class="required"
        >
          <b-form-select
            size="sm"
            id="tpd-input-20"
            v-model="form.mode"
            :options="options.transportModes"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Vehicle No."
          label-for="tpd-input-30"
          label-cols="3"
          label-size="sm"
          v-if="form.mode === 'Road' && config.vno"
        >
          <b-form-input
            size="sm"
            id="tpd-input-30"
            v-model="form.vno"
            trim
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Date of Supply"
          label-cols="3"
          label-size="sm"
          id="tpd-input-group-1"
          label-class="required"
        >
          <gk-date
            id="tpd-date-1"
            :format="date.format"
            v-model="form.date"
            :min="minDate"
            @validity="setDateValidity"
            :required="true"
          >
          </gk-date>
        </b-form-group>
        <b-form-group
          id="tpd-input-group-2"
          label="Receipt Date"
          label-cols="3"
          label-for="tpd-date-2"
          label-size="sm"
          v-if="config.receiptDate"
          label-class="required"
        >
          <gk-date
          id="tpd-date-2"
            :format="date.format"
            v-model="form.receiptDate"
            :min="(form.date)? dateReverse(form.date) : ''"
            @validity="setDateValidity"
            :required="true"
          ></gk-date>
        </b-form-group>
        <b-form-group
          label="Grace Period"
          label-for="tpd-input-40"
          label-size="sm"
          label-cols="3"
          v-if="config.gracePeriod"
        >
          <b-input-group append="days" size="sm">
            <b-form-input
              size="sm"
              id="tpd-input-40"
              v-model="form.gracePeriod"
              type="number"
              min="0"
              no-wheel
              required
            ></b-form-input>
          </b-input-group>
        </b-form-group>
        <b-form-checkbox
          v-model="form.reverseCharge"
          size="sm"
          name="check-button"
          switch
          v-if="config.reverseCharge"
        >
          Reverse Charge
        </b-form-checkbox>
      </div>
    </div>
  </b-card>
</template>

<script>
import { mapState } from 'vuex';
import GkDate from '../../GkDate.vue';
export default {
  name: 'TransportDetails',
  components: {
    GkDate,
  },
  props: {
    config: {
      type: Object,
      required: false,
    },
    updateCounter: {
      type: Number,
      required: false,
      default: 0,
    },
    invDate: {
      type: String,
      required: false,
      default: '',
    },
    parentData: {
      type: Object,
      required: false,
      default: function () {
        return {
          mode: 'Road',
          vno: null,
          date: null,
          reverseCharge: false,
          packageCount: 0,
          deliveryDate: null,
        };
      },
    },
  },
  data() {
    return {
      isCollapsed: false,
      date: {
        format: 'dd-mm-yyyy',
        valid: null,
      },
      form: {
        mode: 'Road',
        vno: null,
        date: null,
        reverseCharge: false,
        packageCount: 0,
        receiptDate: null,
        gracePeriod: 0
      },
      options: {
        transportModes: [
          { text: '-- Transport Mode --', value: null },
          'Road',
          'Rail',
          'Air',
          'Ship',
          'Other',
        ],
      },
    };
  },
  watch: {
    updateCounter() {
      Object.assign(this.form, this.parentData);
    },
  },
  computed: {
    minDate: (self) =>
      self.invDate
        ? self.dateReverse(self.invDate)
        : self.dateReverse(self.yearStart),
    ...mapState(['yearStart']),
  },
  methods: {
    setDateValidity(validity) {
      this.date.valid = validity;
      this.onUpdateDetails();
    },
    onUpdateDetails() {
      setTimeout(() =>
        this.$emit('details-updated', {
          data: this.form,
          name: 'transport-details',
          options: {
            dateValid: this.date.valid,
          },
        })
      );
    },
  },
};
</script>